@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@100;300;500;700&display=swap');

  *{
    font-family: 'Poppins', sans-serif;
  }
.intro img{
    height: 180px;
    width:180px;
}
ul li{
list-style: none;
}
footer{
    margin-top: 80px !important;
}
span{
    color: rgb(12, 211, 108);
}
.navbar-nav .nav-item .nav-link{
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
  }
  .navbar-nav .nav-item .nav-link:hover{
    border-bottom: solid 2px rgb(12, 211, 108);
    box-sizing: border-box;
  }
  .card img{
    max-height: 180px;
    box-sizing: border-box;
  }
  .card{
    transition: all 0.3s;
  }
  .card:hover{
    transform:scale(1.15);

  }
  .card-body{
    align-items: center;
  }
  .projects{
    margin-bottom: 150px;
  }
  .icons img{
    width:35px;
    height: 26px;
    padding-left: 10px;
  }
  .icons p{
    border-right: 2px solid black;
    padding-right: 20px;
    margin-right: 20px;;
  }
  .contact{
    max-width:800px;
    margin:50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.5);
    padding:30px;
  }
 .contact_form .form-field{
  position: relative;
  margin:32px 0px;
 }
 .contact_form .input-text{
  display: block;
  margin-left: 5px;
  width:100%;
  height: 36px;
  border-width: 0px 0px 3px 0px;
  border-color: black;
  font-size: 14px;
  line-height: 26px;
  font-weight:400;
 }
 .contact_form .input-text:focus + .label,
 .contact_form .input-text.not-empty + .label{
  transform:translateY(-26px);
 }
 .contact_form .input-text:focus{
  outline: none;
 }
 .contact_form .label{
  position:absolute;
  left:20px;
  bottom:55px;
  font-size: 16px;
  line-height: 26px;
  transition: transform 0.2s ease-in-out;
 }
 .contact_form .form-field .submit-btn{
  display: inline-block;
  padding:8px 16px;
  cursor: pointer;
 }

 .error-text {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
